{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <header>
            <a href="index.html"><h1 class="logo"> R.ALVES <span><span>VARIEDADES</span></h1></a>
            
        </header>
        <a href="{% url 'pagina_inicio' %}">Inicio</a>
        <p>
            Minha lista de Vestuario:
        </p>
        <ul>
            {% for produto in produtos %}
            <div>
                <li>{{ produto.nome_vestuario }} - R$ {{ produto.valor_vestuario }} {{produto.data_compraV}} {{produto.foto_vestuario}}</li>
            </div>
            {% endfor %}
        </ul>
    </body>
</html>