{% extends "base.html" %}
{% load static %}
{% block titulo %}
  
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{% url "pg_criar_ordemservico" %}">Ordem de Serviço</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "pg_criar_cliente" %}">Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "pg_criar_empresa" %}">Empresa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url "pg_criar_servico" %}">Serviço</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url "pg_criar_produto" %}">Produto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url "pg_criar_categoria" %}">Categoria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url "ibge" %}">IBGE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url "pg_inicial" %}">Voltar</a>
      </li>
  </ul>
{% endblock %}
{% block conteudo %}

  <h2>Formulário Ordem de Serviço</h2>

  <form method="post">
      {% csrf_token %}
      <p>
          <label for="cliente">Cliente</label>
          <select name="cliente_id" id="cliente_id">{{ ordemservico.cliente.nome}}
            <option value="{{ ordemservico.cliente_id }}" selected="{{ordemservico.cliente_id}}">{{ ordemservico.cliente.nome}}</option>
            {% for cliente in clientes %}
              <option value="{{ cliente_id }}">{{ cliente.nome }}</option>
            {% endfor %}
          </select>
      </p>

      <p>
        <label for="servico">Serviço</label>
        <select name="servico_id" id="servico_id">
          <option value="{{ ordemservico.servico_id }}" selected="{{ordemservico.servico_id}}">{{ ordemservico.servico.tipo}}</option>
          {% for servico in servicos %}
            <option value="{{ servico.id }}">{{ servico.tipo }}</option>
          {% endfor %}
        </select>
      </p>

      <p>
        <label for="data">Data do serviço:</label>
        <input type="date" name="data" id="data" value="{{ ordemservico.data }}">
      </p>
      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="{% url "pg_inicial" %}">
          <button type="button" class="btn btn-danger">Cancelar</button>
      </a>
  </form>

  <h2>Liste de ordem de serviços</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Cliente</th>
        <th scope="col">Serviço</th>
        <th scope="col">Data</th>
        <th scope="col">Opçôes</th>
      </tr>
    </thead>
      <tbody>
        {% for ordemservico in ordemservicos %}
          <tr>
            <th scope="row">{{ordemservico.id}}</th>
            <td>{{ordemservico.cliente.nome}}</td>
            <td>{{ordemservico.servico.tipo}}</td>
            <td>{{ordemservico.data}}</td>
            <td>
              <div class="btns_formulario">
                <a href="{% url "pg_editar_ordemservico" ordemservico.id %}">
                    <img src="https://img.icons8.com/?size=100&id=AuMLFRmG95tQ&format=png&color=000000" heght="20" width="30" data-bs-toggle="tooltip" title="editar"> 
                    
                </a>
                <a href="{% url "pg_excluir_ordemservico" ordemservico.id %}">
                    <img src="https://img.icons8.com/?size=100&id=67432&format=png&color=000000" heght="20" width="30" data-bs-toggle="tooltip" title="excluir">
                    
                    
                </a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
{% endblock %}