{% extends "base.html" %}
{% load static %}
{% block titulo %}
  
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{% url "pg_criar_ordemservico" %}">Ordem de Serviço</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "pg_criar_cliente" %}">Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url "pg_criar_empresa" %}">Empresa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url "pg_criar_servico" %}">Serviço</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url "pg_criar_produto" %}">Produto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url "pg_criar_categoria" %}">Categoria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url "ibge" %}">IBGE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url "pg_inicial" %}">Voltar</a>
      </li>
  </ul>
{% endblock %}
{% block conteudo %}
  <h2>Formulário Ordem de Serviço</h2>

  <form method="post">
      {% csrf_token %}
      {{ form_ordemservico.as_p }}
      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="{% url "pg_inicial" %}">
          <button type="button" class="btn btn-danger">Cancelar</button>
      </a>
  </form>

{% endblock %}