{% extends "base.html" %}
{% load static %}
{% block titulo %}

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url "pg_criar_ordemservico" %}">Ordem de Serviço</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "pg_criar_cliente" %}">Cliente</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "pg_criar_empresa" %}">Empresa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{% url "pg_criar_servico" %}">Serviço</a>
    </li>
    <li class="nav-item">
      <a class="nav-link  active " href="{% url "pg_criar_produto" %}">Produto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{% url "pg_criar_categoria" %}">Categoria</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{% url "ibge" %}">IBGE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{% url "pg_inicial" %}">Voltar</a>
    </li>
</ul>
{% endblock %}
{% block conteudo %}
  <h2>Formulário Produto</h2>
  <div class="form">
    <form method="POST" id="form_produto">
      {% csrf_token %}
      <p>
        <label for="id_produto">Nome:</label>
        <input type="text" name="nome" maxlength="100" id="nome" value="{{produto.nome}}">
      </p>
      <p>
        <label for="id_produto">Valor:</label>
        <input type="number" name="valor" maxlength="100" id="valor" value="produto.valor">
      </p>
      <p>
        <label for="id_produto">Descrição:</label>
        <input type="text" name="descricao" maxlength="1000" id="descricao" value="{{produto.descricao}}">
      </p>
      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="{% url "pg_criar_produto" %}">
          <button type="button" class="btn btn-danger">Cancelar</button>
      </a>
    </form>
  </div>

  <h2>Lista de Produtos</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
        <th scope="col">Descrição</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for produto in produtos %}
        <tr>
          <th scope="row">{{produto.id}}</th>
          <td>{{produto.nome}}</td>
          <td>{{produto.valor}}</td>
          <td>{{produto.descricao}}</td>
          <td>
            <div class="btns_formulario">
              <a href="{% url "pg_editar_produto" produto.id %}">
                <img src="https://img.icons8.com/?size=100&id=AuMLFRmG95tQ&format=png&color=000000" heght="20" width="30" data-bs-toggle="tooltip" title="editar produto">
              </a>
              <a href="{% url "pg_excluir_produto" produto.id %}">
                <img src="https://img.icons8.com/?size=100&id=67432&format=png&color=000000" heght="20" width="30" data-bs-toggle="tooltip" title="excluir produto">
              </a>
          </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}