{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <a href="{% url 'pagina_cadastro' %}"><button>+ Categorias</button></a>
        <a href="{% url 'pagina_produtos' %}"><button>+ Produtos</button></a>

        <ul>
            {% for produto in produtos %}
            <a href="{% url 'pagina_detalhes' %}">
                <div>
                    <li>{{ produto.nome_produto }} </li>
                    <img src={{produto.foto_produto}} width="100" height="250">
                    <li>R$ {{ produto.valor_produto }}</li>
                </div> 
            </a>   
            {% endfor %}
        </ul>
    </body>
</html>

