header{
    flex: 1 1 100vw;
    height: 100px;
    background: url(img/t.jpg) transparent;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    position: sticky;
    top: 0;
    font-family: "martila";
}

header nav ul {
    display: flex;
    justify-content: center;
}
li{
    list-style-type: none;
    margin: 0 9rem;
    text-decoration: none;
    color: #fff;
    font-size:larger;
    cursor: pointer;
}
nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

body{
   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/t.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
   
}
h1{
    font-family: "martila";
    text-align: center;
}
.linkCard{
    border: 2px solid #858181;
    width:250px;
    
    align-items: center;
    padding: 0px 20px 20px 20px;
    margin: 20px;
    cursor: pointer;
    box-shadow:2px 2px 2px 0px black;
    background:#fff;

    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    
}